$border-color: #ccc;

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  border: 0;
}

.page {
  position: relative;
}

.lock {
  overflow: hidden;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:15px;
}

.card {
  width: 100%;
  max-width: 300px;
  border: 1px solid $border-color;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }

  &__title {
    text-align: center;
  }

  .img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.background--active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
  z-index: 2;
}

.modal {
  max-width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 15px;
  padding: 10px;

  &--none {
    display: none;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    label {
      font-weight: 700;
    }
  
    input {
      border: none;
    }
  }
}



.button {
  position: fixed;
  left: 50%;
  top: 5%;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  transform: translate(-50%, 0);
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
}

